<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light">MATERIAL DESIGN</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <span v-if="totalTime">Загальний час: {{totalTime | parseTime}}</span>
    </v-toolbar>
    <v-content>
      <TaskComp/>
    </v-content>
  </v-app>
</template>

<script>
import TaskComp from "../components/TaskComp";

export default {
  components: {
    TaskComp
  },
  computed: {
    totalTime() {
      return this.$store.getters.getTotalTime;
    }
  }
};
</script>
