<template>
  <v-container>
    <v-layout row>
      <v-flex>
        <v-card>
          <v-toolbar color="blue" dark>
            <v-toolbar-title>Tasks</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-text-field
              placeholder="Додати задачу"
              v-on:keyup.enter="addTask"
              v-model="taskTitle"
            ></v-text-field>
          </v-toolbar>
          <v-list two-line v-if="allTasks">
            <template v-for="(item, index) in allTasks" >
              <v-list-tile :key="item.title">
                <v-list-tile-content>
                  <v-list-tile-title @dblclick="edit = index" v-show="edit !== index"> <v-icon color="red" left small @click="deleteTask(index)">delete</v-icon> {{ item.title }}</v-list-tile-title>
                    <v-text-field v-if="edit === index"
                      v-model="item.title"
                      autofocus
                      @change="updateTask(index, $event)"
                    ></v-text-field>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-list-tile-action-text>{{ item.time | parseTime }}</v-list-tile-action-text>
                  <span>
                    <v-icon
                      v-if="plaTask != index"
                      color="green lighten-1"
                      @click="start(index)"
                      :disabled="doneTasks.indexOf(index) > -1"
                    >play_arrow</v-icon>
                    <v-icon
                      v-else
                      color="blue lighten-1"
                      @click="start(index)"
                      :disabled="doneTasks.indexOf(index) > -1"
                    >pause</v-icon>
                    <v-icon
                      color="red lighten-1"
                      :disabled="doneTasks.indexOf(index) > -1"
                      @click="dialog = true, task = index"
                    >stop</v-icon>
                  </span>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider v-if="index + 1 < allTasks.length" :key="index"></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" width="400">
      <v-card>
        <v-card-text>Ви дійсно хочете завершити це завдання та записати результат?</v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" flat @click="stop">Так</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    task: null,
    taskTitle: '',
    edit: null
  }),
  computed: {
    allTasks () {
      return this.$store.getters.getTasks
    },
    doneTasks () {
      return this.$store.getters.getDoneTasks
    },
    plaTask () {
      return this.$store.getters.getPlayTask
    }
  },
  methods: {
    start (index) {
      this.$store.dispatch('startTimer', index)
    },
    stop() {
      if(this.plaTask === this.task){
        this.$store.dispatch('stopTimer')
      }
      this.$store.dispatch('stopTask', this.task)
      this.dialog = false
    },
    addTask() {
      const newTask = this.taskTitle.trim()
      if(newTask.length > 0){
        this.$store.dispatch('addTask', newTask)
      }
      this.taskTitle = ''
    },
    deleteTask(index){
      this.$store.dispatch('deleteTask', index)
    },
    updateTask() {
      this.edit = null
      this.$store.dispatch('updateTask')
    }
  },
  created() {
    this.$store.dispatch('loadTasks')
  },
  mounted () {
    if(localStorage.play && localStorage.play !== 'null'){
      const taskIndex = parseInt(localStorage.play)
      this.$store.dispatch('startTimer',taskIndex)
    }
  }
}
</script>

<style>
</style>
